
<div th:fragment="refundPrice_header(refundPriceType)" class="inner">
    <form name="searchform" id="searchform" method="get" action="/masterpage_sys/refund_price/api/search">
        <ul class="jv-tab tab2">
            <li class="active"><a href="/masterpage_sys/refund_price">환급교육</a></li>
            <li><a href="/masterpage_sys/refund_price/normal">일반교육</a></li>
        </ul>
        <div class="form-wrap">
            <div class="inner">

                <div class="group01">
                    <div class="tit">검색</div>
                    <div class="con">
                        <div class="column-tc-wrap part1">
                            <div class="column-tc" th:if="${refundPriceType}">
                                <div class="tit">지원금유형</div>
                                <div class="con">
                                    <label class="c-input ci-radio">
                                        <input type="radio" name="refundPriceType" value="ALL" checked=""> 전체
                                        <div class="ci-show"></div>
                                    </label>
                                    <label class="c-input ci-radio">
                                        <input type="radio" name="refundPriceType" value="saup">사업주 환급 교육
                                        <div class="ci-show"></div>
                                    </label>
                                    <label class="c-input ci-radio">
                                        <input type="radio" name="refundPriceType" value="cardsil">국민내일배움카드(실업자)
                                        <div class="ci-show"></div>
                                    </label>
                                    <label class="c-input ci-radio">
                                        <input type="radio" name="refundPriceType" value="cardjae">국민내일배움카드(재직자)
                                        <div class="ci-show"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">지원금 종류</div>
                                <div class="con">
                                    <input name="refundPriceName" type="text" placeholder="지원금종류명을 입력해주세요." value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="btn-wrap">
            <button type="button" class="jv-btn jb-fill01-lg" id="searchButton">검색</button>
        </div>

        <div class="table-util">
            <div class="left">
                <button type="button" class="jv-btn icon-excel" id="excelButton">엑셀</button>
                <div class="page-view flex">
                    <select name="pagesize" id="pageSizeSelect">
                        <option value="20" selected="">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                    </select>
                </div>
                <div class="count">
                    <span class="Pretd_B" id="resultCount">255</span>건 검색되었습니다.
                </div>
            </div>

            <div class="right">
                <button type="button" class="jv-btn fill04" id="saveForm">신규등록</button>
            </div>
        </div>
        <table class="table01 T_center">
            <thead>
            <tr>
                <th>
                    <label class="c-input ci-check single">
                        <input type="checkbox">
                        <div class="ci-show"></div>
                    </label>
                </th>
                <th>NO</th>
                <th th:if="${refundPriceType}">지원금 유형</th>
                <th>지원금 종류</th>
                <th>할인 종류</th>
                <th>할인금액/지원율(%)</th>
                <th>사용여부</th>
                <th>정렬 순서</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="pagination" class="pagination"></div>
    </form>

</div>
