<div th:fragment="board-header" class="inner">
    <div class="bbs-view">
        <div class="form-wrap2">
            <div class="view-top">
                <!-- 제목 -->
                <div class="tit" th:text="${board.title()}">제목</div>
                <ul class="write-info">
                    <!-- 작성자 -->
                    <li th:text="${board.writer()}">작성자</li>
                    <!-- 작성일 -->
                    <li th:text="${board.createdDate()}">작성일</li>
                    <!-- 조회수 -->
                    <li>View.<span th:text="${board.readNum()}">0</span></li>
                </ul>
                <div class="attach">
                    <a th:each="attachment : ${board.attachments()}"
                       th:href="@{'/api/v1/files/download/' + 'board' + '/' + ${attachment}}"
                       th:download="${attachment}"
                       th:text="${attachment}">
                    </a>
                </div>

            </div>
            <div class="view-con">
                <!-- HTML 태그를 렌더링 -->
                <p th:utext="${board.contents()}"></p>
            </div>
        </div>
        <div class="view-com" th:if="${board.optionCommentAuth} and (${permissions.comment()} == true)">
            <div class="com-list">
                <!-- 댓글 반복 출력 -->
                <div th:each="comment : ${comments}" class="comment group01">
                    <div class="tit writer" th:text="${comment.writer()}">이러닝관리자</div>
                    <div class="con">
                        <div class="text" th:text="${comment.contents()}">123</div>
                        <div class="date">
                            <span th:text="${comment.createdDate()}">2025.01.22</span>
                            <a class="jv-btn jv-outline05-sm delete" href="#" id="commentDelete" th:data-id="${comment.commentIdx()}">삭제</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="com-write group01">
                <div class="tit">댓글작성</div>
                <div class="con">
                    <textarea class="com-area" name="contents" id="contents" placeholder="댓글을 작성해주세요"></textarea>
                    <a class="jv-btn jv-fill03-lg" href="#" id="commentButton"><span>등록</span></a>
                </div>
            </div>
        </div>

        <div class="view-bot">
            <div id="permissionReply" th:data-reply="${permissions.reply()}"></div>
            <div class="btn-wrap">
                <a href="#" id="listButton" class="jv-btn fill01-lg">목록</a>
                <a class="jv-btn fill06-lg" href="#" id="updateButton" th:data-id="${board.bbsIdx()}">수정</a>
                <a class="jv-btn fill06-lg" href="#" id="replyButton" th:data-id="${board.bbsIdx()}" th:if="${board.optionReplyAuth}">답변</a>
                <a class="jv-btn fill05-lg" href="#" id="deleteButton" th:data-id="${board.bbsIdx()}">삭제</a>
            </div>
            <a class="view-arrow next" href="#">
                <span class="icon"></span>
                <span>다음글</span>
            </a>

        </div>
    </div>
</div>