<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'nonce-random123'; style-src 'self' 'unsafe-inline';">
	<!-- 헤더에서 CSS 포함 -->
	<th:block th:replace="fragments/header :: head"></th:block>
	<title>권한관리 - 관리자권한 상세보기</title>
</head>
<body>
	<!-- 헤더에서 상단 메뉴 포함 -->
	<th:block th:replace="fragments/header :: header"></th:block>

	<div class="inner">
		<form id="mainform" method="post">
			<input type="hidden" id="authLevelIdx" th:value="${authLevelDetail.authLevelIdx}">
			<ul class="jv-tab tab2">
				<li class="active"><a href="#" data-menu-type="ADMIN_REFUND">관리자(환급)</a></li>
				<li><a href="#" data-menu-type="ADMIN_NORMAL">관리자(일반)</a></li>
				<li><a href="#" data-menu-type="TEACHER">강사</a></li>
				<li><a href="#" data-menu-type="COMPANY">위탁기업</a></li>
			</ul>
			<div class="form-wrap2">
				<div class="column-tc-wrap column-tc-wrap2 part1">
					<div class="column-tc">
						<div class="tit">권한명 / 권한레벨</div>
						<div class="con flex">
							<input type="text" name="authLevelName" id="authLevelName" class="validate[required,length[0,200]] text-input" 
								   th:value="${authLevelDetail.authLevelName}" placeholder="권한명을 입력해주세요">&nbsp;
							<input type="number" name="authLevel" id="authLevel" class="validate[required,length[0,200]] text-input" 
								   th:value="${authLevelDetail.authLevel}" placeholder="권한레벨을 입력해주세요">&nbsp;
							<button type="button" id="listBtn" class="jv-btn fill01">목록</button>&nbsp;
							<button type="button" id="saveBtn" class="jv-btn fill04">저장</button>
						</div>
					</div>
				</div>
			</div>
			<div class="info info-bg">권한명을 입력 후 아래의 권한을 설정한 상태여야만 권한 생성이 됩니다.</div>

			<table class="table01 T_center mt1">
				<thead>
					<tr>
						<th>NO</th>
						<th>메뉴/페이지명</th>
						<th>메뉴/페이지 접속</th>
						<th>사용여부</th>
						<th>
							<label class="c-input ci-check single">
								<input type="checkbox" id="checkAllRead" data-auth-type="read">
								<div class="ci-show"></div>
							</label>
							조회
						</th>
						<th>
							<label class="c-input ci-check single">
								<input type="checkbox" id="checkAllWrite" data-auth-type="write">
								<div class="ci-show"></div>
							</label>
							등록
						</th>
						<th>
							<label class="c-input ci-check single">
								<input type="checkbox" id="checkAllModify" data-auth-type="modify">
								<div class="ci-show"></div>
							</label>
							수정
						</th>
						<th>
							<label class="c-input ci-check single">
								<input type="checkbox" id="checkAllDelete" data-auth-type="delete">
								<div class="ci-show"></div>
							</label>
							삭제
						</th>
					</tr>
				</thead>
				<tbody id="managerAuthTable">
					<!-- JavaScript에서 동적으로 렌더링 -->
				</tbody>
			</table>

			<div class="pagination" id="pagination">
				<!-- 페이지네이션은 JavaScript에서 처리됩니다 -->
			</div>
		</form>
	</div>

	<!-- 메뉴 데이터를 JavaScript 변수로 전달 -->
	<script th:inline="javascript" nonce="random123">
		window.menuList = /*[[${menuList}]]*/ [];
		window.managerAuthMap = /*[[${managerAuthMap}]]*/ {};
		window.authLevelDetail = /*[[${authLevelDetail}]]*/ {};
	</script>
	<script th:src="@{/js/auth_level/auth_level.js}" nonce="random123"></script>
</body>
</html>