<div th:fragment="menu-header">
    <div class="form-wrap2">
        <form id="menuForm" method="POST" action="/masterpage_sys/branch/api/save/depth1" enctype="multipart/form-data">
            <div class="column-tc-wrap column-tc-wrap2 part1">
                <div class="column-tc">
                    <div class="tit">1차 메뉴 추가</div>
                    <div class="con flex">
                        <input type="text" name="menuName" id="menuName" placeholder="메뉴명을 입력해주세요" required>&nbsp;
                        <button type="submit" class="jv-btn fill01" style="width:100px;">추가</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form-wrap2 menu-sort">
        <div class="menu-list" th:each="menu1 : ${branchMenuList.depth1Menus}">
            <div class="menu-depth1">
                <div class="depth1-tit" th:text="${menu1.menuName}" th:attr="data-menu-idx=${menu1.menuIdx}"></div>
                <a href="#none" class="jv-btn outline07-sm tit-del">삭제</a>
            </div>
            <div class="menu-depth2">
                <form class="menuForm2" method="POST" action="/masterpage_sys/branch/api/save/depth2" enctype="multipart/form-data">
                    <div class="column-tc-wrap column-tc-wrap2 part1 depth2-add">
                        <div class="column-tc">
                            <div class="tit">2차 메뉴 추가</div>
                            <div class="con flex">
                                <input type="text" class="menuName2" placeholder="메뉴명을 입력해주세요">
                                <input type="hidden" name="parentIdx" class="parentIdx" th:value="${menu1.menuIdx}">
                                <button type="submit" class="jv-btn fill01" style="width:100px;">추가</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="depth2-wrap">
                    <ul>
                        <li th:each="menu2 : ${branchMenuList.depth2Menus}"
                            th:if="${menu2.parent.menuIdx} == ${menu1.menuIdx}">
                            <div class="depth2-tit-wrap">
                                <div class="depth2-tit" th:text="${menu2.menuName}" th:attr="data-menu-idx=${menu2.menuIdx}"></div>
                                <a href="#none" class="jv-btn outline07-sm tit-del">삭제</a>
                            </div>
                            <div class="depth3-count">
                                <span>하위 메뉴 수 : </span>
                                <span class="num">
                                    <a href="#depth2-setting" rel="modal:open"
                                       th:onclick="'javascript:loadDepth3Menu(' + ${menu2.menuIdx} + ');'"
                                       th:text="${branchMenuList.depth3Counts[menu2.menuIdx] ?: 0} + '개'"></a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="depth2-setting" class="modal mCustomScrollbar depth2-setting" data-mcs-theme="minimal-dark" style="display: none;">
        <div class="modal-inner">
            <div class="modal-con">
                <form id="menuForm3" method="POST" action="/masterpage_sys/branch/api/save/depth3">
                    <div class="menu-depth2">
                        <div class="tit">
                            <span class="Pretd_B">3차 메뉴 등록 및 설정</span>
                        </div>
                        <div class="menu-add">
                            <input type="text" class="menuName3" name="menuName" placeholder="메뉴명을 입력해주세요" value="" required>
                            <input type="hidden" name="parentIdx" id="parentIdx" value="">
                            <button type="submit" class="jv-btn fill01" style="width:100px;">추가</button>
                        </div>
                        <div class="depth2-wrap">
                            <ul id="dp3">
                                <!-- 3차 메뉴 리스트가 동적으로 렌더링됩니다. -->
                            </ul>
                        </div>
                    </div>
                </form>
                <div class="btn-wrap mt30">
                    <a href="#none" rel="modal:close" class="jv-btn fill03">닫기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

