/* Pretendard */
@font-face {
font-family:"Pretendard-Regular";
src: url("../../fonts/Pretendard-Regular.eot");
src: url("../../fonts/Pretendard-Regular.eot?#iefix") format("embedded-opentype"),
    /*url("../../fonts/Pretendard-Regular.woff2") format("woff2"),*/
    /*url("../../fonts/Pretendard-Regular.woff") format("woff"),*/
    /*url("../../fonts/Pretendard-Regular.ttf") format("truetype"),*/
    url("../../fonts/Pretendard-Regular.svg#Pretendard-Regular") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-Thin";
src: url("../../fonts/Pretendard-Thin.eot");
src: url("../../fonts/Pretendard-Thin.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Pretendard-Thin.woff2") format("woff2"),
    url("../../fonts/Pretendard-Thin.woff") format("woff"),
    url("../../fonts/Pretendard-Thin.ttf") format("truetype"),
    url("../../fonts/Pretendard-Thin.svg#Pretendard-Thin") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-Light";
src: url("../../fonts/Pretendard-Light.eot");
src: url("../../fonts/Pretendard-Light.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Pretendard-Light.woff2") format("woff2"),
    url("../../fonts/Pretendard-Light.woff") format("woff"),
    url("../../fonts/Pretendard-Light.ttf") format("truetype"),
    url("../../fonts/Pretendard-Light.svg#Pretendard-Light") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-ExtraLight";
src: url("../../fonts/Pretendard-ExtraLight.eot");
src: url("../../fonts/Pretendard-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Pretendard-ExtraLight.woff2") format("woff2"),
    url("../../fonts/Pretendard-ExtraLight.woff") format("woff"),
    url("../../fonts/Pretendard-ExtraLight.ttf") format("truetype"),
    url("../../fonts/Pretendard-ExtraLight.svg#Pretendard-ExtraLight") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-Medium";
src: url("../../fonts/Pretendard-Medium.eot");
src: url("../../fonts/Pretendard-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Pretendard-Medium.woff2") format("woff2"),
    url("../../fonts/Pretendard-Medium.woff") format("woff"),
    url("../../fonts/Pretendard-Medium.ttf") format("truetype"),
    url("../../fonts/Pretendard-Medium.svg#Pretendard-Medium") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-SemiBold";
src: url("../../fonts/Pretendard-SemiBold.eot");
src: url("../../fonts/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"),
    /*url("../../fonts/Pretendard-SemiBold.woff2") format("woff2"),*/
    /*url("../../fonts/Pretendard-SemiBold.woff") format("woff"),*/
    /*url("../../fonts/Pretendard-SemiBold.ttf") format("truetype"),*/
    url("../../fonts/Pretendard-SemiBold.svg#Pretendard-SemiBold") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-Bold";
src: url("../../fonts/Pretendard-Bold.eot");
src: url("../../fonts/Pretendard-Bold.eot?#iefix") format("embedded-opentype"),
    /*url("../../fonts/Pretendard-Bold.woff2") format("woff2"),*/
    /*url("../../fonts/Pretendard-Bold.woff") format("woff"),*/
    /*url("../../fonts/Pretendard-Bold.ttf") format("truetype"),*/
    url("../../fonts/Pretendard-Bold.svg#Pretendard-Bold") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-ExtraBold";
src: url("../../fonts/Pretendard-ExtraBold.eot");
src: url("../../fonts/Pretendard-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Pretendard-ExtraBold.woff2") format("woff2"),
    url("../../fonts/Pretendard-ExtraBold.woff") format("woff"),
    url("../../fonts/Pretendard-ExtraBold.ttf") format("truetype"),
    url("../../fonts/Pretendard-ExtraBold.svg#Pretendard-ExtraBold") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"Pretendard-Black";
src: url("../../fonts/Pretendard-Black.eot");
src: url("../../fonts/Pretendard-Black.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Pretendard-Black.woff2") format("woff2"),
    url("../../fonts/Pretendard-Black.woff") format("woff"),
    url("../../fonts/Pretendard-Black.ttf") format("truetype"),
    url("../../fonts/Pretendard-Black.svg#Pretendard-Black") format("svg");
font-weight: normal;
font-style: normal;
}

/*font------------------------------------------------------------------------------------------------------------------ */
.Pretd_R{font-family:"Pretendard-Regular" !important;}
.Pretd_T{font-family:"Pretendard-Thin" !important;}
.Pretd_EL{font-family:"Pretendard-ExtraLight" !important;}
.Pretd_L{font-family:"Pretendard-Light" !important;}
.Pretd_M{font-family:"Pretendard-Medium" !important;}
.Pretd_SB{font-family:"Pretendard-SemiBold" !important;}
.Pretd_B{font-family:"Pretendard-Bold" !important;}
.Pretd_EB{font-family:"Pretendard-ExtraBold" !important;}
.Pretd_BK{font-family:"Pretendard-Black" !important;}

/*set_up-----------------------------------------------------------------------------------------------------------------*/
*{box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
html{font-size:16px;}
body{margin:0; padding:0; font-family:"Pretendard-Regular", sans-serif;  width:100%; height:auto; color:#333;}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button{margin:0; padding:0;}
ul, ol, dl{list-style:none;}
fieldset{border:none;}
legend{display:none;}
img{border:none;}

a{color:#333; text-decoration:none;}
a:hover{text-decoration:none;}

/*인용구*/
blockquote:before, blockquote:after,
q:before, q:after{content: ''; content: none;}
table{border-collapse:collapse; border-spacing:0;}
blockquote, q{quotes: none;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{display:block;}

/*clearfix*/
.cf:after{clear:both; content:""; display:block;}

/*set_up-----------------------------------------------------------------------------------------------------------------*/


/*custom-----------------------------------------------------------------------------------------------------------------*/

/*추가 편의*/
a{color:#333;}
*:focus{outline:none;}

select{border-radius:0; /* 아이폰 사파리 보더 없애기 */ -webkit-appearance:none; /* 화살표 없애기 for chrome*/ -moz-appearance:none; /* 화살표 없애기 for firefox*/ appearance:none; /* 화살표 없애기 공통*/}
select::-ms-expand{display:none; /* 화살표 없애기 for IE10, 11*/ }

h1, h2, h3, h4, h5, h6{font-weight:normal;}