<!-- 📌📌📌📌 시스템관리 > 시스템설정 > 기본설정 페이지입니다. 📌📌📌📌  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>시스템설정 - 기본설정</title>
</head>
<body>

	<div class="inner">
		<div class="form-wrap2 system-setting01">
			<div class="column-tc-wrap column-tc-wrap2 part2">
				<div class="column-tc">
					<div class="con flex2">
						<div>
							<div class="tit">로그인 세션관리</div>
							<div class="con">
								<div class="cntr mt15" id="range"></div> <!-- 현재 페이지 최하단에 script 있습니다 -->
							</div>
						</div>
						<div>
							<div class="tit">수강신청 마감시간</div>
							<div class="con">
								<div class="flex-def">
									<input type="text">
									<a href="#none" class="jv-btn fill01" style="width:80px;">저장</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column-tc">
					<div class="con flex2">
						<div>
							<div class="tit">관리자모드 제목</div>
							<div class="con">
								<div class="flex-def">
									<input type="text">
									<a href="#none" class="jv-btn fill01" style="width:80px;">저장</a>
								</div>
							</div>
						</div>
						<div>
							<div class="tit">증명서별 하단 기관명 표시</div>
							<div class="con">
								<div class="flex-def">
									<input type="text">
									<a href="#none" class="jv-btn fill01" style="width:80px;">저장</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column-tc-wrap column-tc-wrap2 part2">
				<div class="column-tc">
					<div class="con flex2">
						<div>
							<div class="tit">평가알림기능</div>
							<div class="con">
								<input type="checkbox" class="switch" id="switch1">
								<label for="switch1" class="switch"></label>
							</div>
						</div>
						<div>
							<div class="tit">회원가입 안내 자동문자/메일 사용여부</div>
							<div class="con">
								<input type="checkbox" class="switch" id="switch2">
								<label for="switch2" class="switch"></label>
							</div>
						</div>
					</div>
				</div>
				<div class="column-tc">
					<div class="tit">관리자페이지 로고 이미지 등록</div>
					<div class="con">
						<input type="file">
					</div>
				</div>
			</div>
		</div>

		<div class="form-wrap2 system-setting02">
			<div class="list-wrap">
				<div>
					<h2 class="form-tit">모니터링 전송 중지 계정 등록</h2>
					<div class="cont-wrap">
						<div class="con01">
							<input type="text" placeholder="ID를 입력하세요">
							<a href="#none" class="jv-btn fill01">등록하기</a>
						</div>
						<div class="con02">
							<ul>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">junguniv</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<h2 class="form-tit">가입불가 ID</h2>
					<div class="cont-wrap">
						<div class="con01">
							<input type="text" placeholder="ID를 입력하세요">
							<a href="#none" class="jv-btn fill01">등록하기</a>
						</div>
						<div class="con02">
							<ul>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">junguniv</span>
									<a href="#none"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<h2 class="form-tit">심사계정 등록</h2>
					<div class="cont-wrap">
						<div class="con01">
							<input type="text" placeholder="ID를 입력하세요">
							<a href="#none" class="jv-btn fill01">등록하기</a>
						</div>
						<div class="con02">
							<ul>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">master</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">admin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">jungadmin</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
								<li>
									<span class="txt">id01</span>
									<a href="#none"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>