<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>기본표시정보 - 일반교육</title>

	<!-- 헤더에서 CSS 포함 -->
	<th:block th:replace="fragments/header :: head"></th:block>

	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/system_code/mark.css}">
</head>


<body>

	<!-- 헤더에서 상단 메뉴 포함 -->
	<th:block th:replace="fragments/header :: header"></th:block>

	
	<div class="inner">
		<div class="form-wrap2">
			<h2 class="form-tit">기본 사용값 설정</h2>
			<table class="table01-hor">
				<colgroup>
					<col width="16.666%">
					<col width="16.666%">
					<col width="16.666%">
					<col width="16.666%">
					<col width="16.666%">
					<col width="16.666%">
				</colgroup>
				<form name="mainform" method="post" action="<?=$_self?>">
					<input type=hidden name="updatemode" value="update">
					<tbody>
						<tr>
							<th>순차학습 여부</th>
							<td>
								<input type="checkbox" class="switch" id="edu1" name="sequential_learning" value="Y" <?=$objfunc->isChecked($sequential_learning,"Y")?>>
								<label for="edu1" class="switch"></label>
							</td>
							<th>수강자동승인</th>
							<td>
								<input type="checkbox" class="switch" id="edu2" name="coursetake_auto" value="Y" <?=$objfunc->isChecked($coursetake_auto,"Y")?>>
								<label for="edu2" class="switch"></label>
							</td>
							<th>본인인증 사용 여부</th>
							<td>
								<input type="checkbox" class="switch" id="edu3" name="identity_verification" value="Y" <?=$objfunc->isChecked($identity_verification,"Y")?>>
								<label for="edu3" class="switch"></label>
							</td>
						</tr>
						<tr>
							<th>차시학습 제한 여부</th>
							<td>
								<input type="checkbox" class="switch" id="edu4" name="lcms_learning_restrict" value="Y" <?=$objfunc->isChecked($lcms_learning_restrict,"Y")?>>
								<label for="edu4" class="switch"></label>
							</td>
							<th>50% 학습 설정</th>
							<td>
								<input type="checkbox" class="switch" id="edu5" name="per" value="Y" <?=$objfunc->isChecked($per,"Y")?>>
								<label for="edu5" class="switch"></label>
							</td>
							<th>자동 재응시</th>
							<td>
								<input type="checkbox" class="switch" id="edu6" name="retake_auto" value="Y" <?=$objfunc->isChecked($retake_auto,"Y")?>>
								<label for="edu6" class="switch"></label>
							</td>
						</tr>
						<tr>
							<th>개설과정 게시판 공유 여부</th>
							<td>
								<input type="checkbox" class="switch" id="edu7" name="course_board_share" value="Y" <?=$objfunc->isChecked($course_board_share,"Y")?>>
								<label for="edu7" class="switch"></label>
							</td>
							<th>자동문자/메일 사용 여부</th>
							<td>
								<input type="checkbox" class="switch" id="edu8" name="autosms_mail" value="Y" <?=$objfunc->isChecked($autosms_mail,"Y")?>>
								<label for="edu8" class="switch"></label>
							</td>
							<th>자동 수료</th>
							<td>
								<input type="checkbox" class="switch" id="edu9" name="suryo_auto" value="Y" <?=$objfunc->isChecked($suryo_auto,"Y")?>>
								<label for="edu9" class="switch"></label>
							</td>
						</tr>
					</tbody>
			</table>
		</div>

		<div class="form-wrap2 system-info-review">
			<h2 class="form-tit">복습 기능 기본 설정</h2>
			<table class="table01-hor">
				<colgroup>
					<col width="20%">
					<col width="80%">
				</colgroup>
				<tbody>
					<tr>
						<th>복습기간</th>
						<td>
							<div class="card-wrap">
								<label class="ci-card">
									<input type="radio" name="review_gigan_chktype" id="review_gigan_chktype" value="end" <?=$objfunc->isChecked($review_gigan_chktype,"end")?> class="ci-card-input">
									<div class="ci-card-body">
										<div class="body-tit">
											교육종료일로부터
										</div>
										<div class="body-con">
											<input type="text" name="review_gigan_chktype1" id="review_gigan_chktype1" value="<?=$review_gigan_chktype_value1?>"> 일
										</div>
									</div>
								</label>
								<label class="ci-card">
									<input type="radio" name="review_gigan_chktype" id="review_gigan_chktype" value="suryo" <?=$objfunc->isChecked($review_gigan_chktype,"suryo")?> class="ci-card-input">
									<div class="ci-card-body">
										<div class="body-tit">
											수료일로부터
										</div>
										<div class="body-con">
											<input type="text" name="review_gigan_chktype2" id="review_gigan_chktype2" value="<?=$review_gigan_chktype_value2?>"> 일
										</div>
									</div>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<th>복습대상</th>
						<td>
							<label class="c-input ci-radio">
								<input type="radio"  name="review_target" id="review_target" value="target_suryo" <?=$objfunc->isChecked($review_target,"target_suryo")?> > 수료처리된 인원만 복습
								<div class="ci-show"></div>
							</label>
							<label class="c-input ci-radio">
								<input type="radio"  name="review_target" id="review_target" value="target_all" <?=$objfunc->isChecked($review_target,"target_all")?> > 수료/미수료 포함 개설 과정 수강 인원 모두 복습
								<div class="ci-show"></div>
							</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="form-wrap2 system-info-complete">
			<h2 class="form-tit">수료 관련 기본 설정</h2>
			<table class="table01-hor">
				<colgroup>
					<col width="13.333%">
					<col width="20%">
					<col width="13.333%">
					<col width="20%">
					<col width="13.333%">
					<col width="20%">
				</colgroup>
				<tbody>
					<tr>
						<th>단원수업 최소 학습율</th>
						<td>
							<input type="text" name="lcms_progress_finish_percent" id="lcms_progress_finish_percent" value="<?=$lcms_progress_finish_percent?>"> %
						</td>
						<th>1일 최대 진도율</th>
						<td>
							<input type="text" name="lcms_progress_1day_percent" id="lcms_progress_1day_percent" value="<?=$lcms_progress_1day_percent?>"> %
						</td>
						<th>수료기준 진도율</th>
						<td>
							<input type="text" name="lcms_limit_unit_percent" id="lcms_limit_unit_percent" value="<?=$lcms_limit_unit_percent?>"> %
						</td>
					</tr>
					<tr>
						<th>수료기준 종합점수</th>
						<td colspan="5">
							<div class="card-wrap">
								<label class="ci-card">
									<input type="radio" name="lcms_result_finish_chktype" id="lcms_result_finish_chktype" value="OutOf100" <?=$objfunc->isChecked($lcms_result_finish_chktype,"OutOf100")?> class="ci-card-input">
									<div class="ci-card-body">
										<div class="body-tit">평가 구분/항목별 환산 점수 합계 기준</div>
										<div class="body-con">
											100점 만점 기준 <input type="text" name="lcms_result_finish_chktype1" id="lcms_result_finish_chktype1" value="<?=$lcms_result_finish_chktype_value1?>"> 점
										</div>
									</div>
								</label>
								<label class="ci-card">
									<input type="radio" name="lcms_result_finish_chktype" id="lcms_result_finish_chktype" value="each" <?=$objfunc->isChecked($lcms_result_finish_chktype,"each")?> class="ci-card-input">
									<div class="ci-card-body">
										<div class="body-tit">평가 구분/항목별 점수 기준</div>
										<div class="body-con">
											평가 구분/항목별 획득 점수가 각각 <input type="text" name="lcms_result_finish_chktype2" id="lcms_result_finish_chktype2" value="<?=$lcms_result_finish_chktype_value2?>"> 점 이상
										</div>
									</div>
								</label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</form>
		<div class="btn-wrap mt50">
			<a href="javascript:" onclick="submit(document.mainform);" class="jv-btn jb-fill04-lg">저장</a>
		</div>
	</div>

	<script th:src="@{/js/system_code/mark.js}"></script>
</body>
</html>