<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <!-- 헤더에서 CSS 포함 -->
    <th:block th:replace="fragments/header :: head"></th:block>

    <!-- TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/k5zf849n8pjpkhfi1fjilm3rdkphbmrm37osivbz5908i8da/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- editor.js 파일 불러오기 -->
    <script th:src="@{/js/common/editor.js}"></script>
    <script th:src="@{/js/popup/detailForm.js}"></script>
</head>
<body>
<!-- 헤더에서 상단 메뉴 포함 -->
<div th:replace="fragments/header :: header"></div>
<div class="inner">
    <form th:action="@{/masterpage_sys/popup/api/update}" method="post" enctype="multipart/form-data" id="popupForm">

        <!-- 숨겨진 ID 필드 -->
        <input type="hidden" name="popupIdx" th:value="${popup.popupIdx()}">

        <div class="form-wrap2">
            <!-- 팝업명 -->
            <div class="column-tc">
                <div class="tit">팝업명</div>
                <div class="con">
                    <input type="text" name="popupName" placeholder="팝업 제목을 입력해주세요" required th:value="${popup.popupName()}">
                </div>
            </div>

            <!-- 공개기간 -->
            <div class="column-tc">
                <div class="con flex2">
                    <div>
                        <div class="tit">공개기간</div>
                        <div class="con flex">
                            <input type="date" name="startDate" required th:value="${popup.startDate()}">
                            <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                            <input type="date" name="endDate" required th:value="${popup.endDate()}">
                        </div>
                    </div>
                    <div>
                        <div class="tit">공개여부</div>
                        <div class="con">
                            <input type="checkbox" class="switch" id="open" name="chkOpen" value="Y" th:checked="${popup.chkOpen() == 'Y'}">
                            <label for="open" class="switch mt5"></label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 오늘 하루 보지 않기 -->
            <div class="column-tc">
                <div class="con flex2">
                    <div>
                        <div class="tit">오늘하루 보지않기</div>
                        <div class="con">
                            <input type="checkbox" class="switch" id="today" name="chkToday" value="Y" th:checked="${popup.chkToday() == 'Y'}">
                            <label for="today" class="switch mt5"></label>
                        </div>
                    </div>
                    <div>
                        <div class="tit">스크롤</div>
                        <div class="con">
                            <input type="checkbox" class="switch" id="scroll" name="chkScrollbar" value="Y" th:checked="${popup.chkScrollbar() == 'Y'}">
                            <label for="scroll" class="switch mt5"></label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 크기 및 위치 -->
            <div class="column-tc">
                <div class="con flex2">
                    <div>
                        <div class="tit">크기</div>
                        <div class="con flex">
                            <input type="text" name="widthSize" placeholder="가로" required th:value="${popup.widthSize()}">
                            <span>&nbsp;&nbsp;X&nbsp;&nbsp;</span>
                            <input type="text" name="heightSize" placeholder="세로" required th:value="${popup.heightSize()}">
                        </div>
                    </div>
                    <div>
                        <div class="tit">위치</div>
                        <div class="con flex">
                            <input type="text" name="leftSize" placeholder="가로" required th:value="${popup.leftSize()}">
                            <span>&nbsp;&nbsp;X&nbsp;&nbsp;</span>
                            <input type="text" name="topSize" placeholder="세로" required th:value="${popup.topSize()}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 에디터 -->
            <div class="mt30">
                <textarea id="editor" name="contents" th:text="${popup.contents()}"></textarea>
            </div>
        </div>

        <div class="btn-wrap mt50">
            <button type="submit" class="jv-btn fill04-lg">수정하기</button>
            <a th:href="@{/masterpage_sys/popup/listForm}" class="jv-btn fill01-lg">리스트</a>
        </div>
    </form>
</div>
