<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>

    <!-- 헤더에서 CSS 포함 -->
    <th:block th:replace="fragments/header :: head"></th:block>

    <link rel="stylesheet" th:href="@{/css/menu/menu.css}">

    <script th:src="@{/js/refund_price/refund_price.js}"></script>
</head>
<body data-study-type="refund">
<!-- 헤더에서 상단 메뉴 포함 -->
<div th:replace="fragments/header :: header"></div>
<th:block th:replace="masterpage_sys/refund_price/_refundPrice-detailHeader :: refundPrice_header(true)"></th:block>
