<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${errorMessage}">Error</title>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/common/error.css">

</head>
<body>
	<div class="error-container">
		<h2 th:text="${errorMessage}">에러 메시지</h2>
		<a href="javascript:void(0);" onclick="goToHome()" class="home-link">돌아가기</a>
	</div>

	<script th:inline="javascript">
        function goToHome() {
            var userType = /*[[${userType}]]*/ 'GUEST';
            if (userType === 'ADMIN') {
                window.location.href = 'masterpage_sys/member/student';
            }
            else if(userType === 'TEACHER') {
                window.location.href = '#';
            }
            else if (userType === 'STUDENT') {
                window.location.href = '#';
            }
            else if (userType === 'COMPANY') {
                window.location.href = '#';
            }
            else {
                window.location.href = '/login';  // 로그인 페이지
            }
        }
	</script>
</body>
</html>
