<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <!-- 헤더에서 CSS 포함 -->
    <th:block th:replace="fragments/header :: head"></th:block>
    <script th:src="@{/js/counsel/detailForm.js}"></script>
</head>
<body>
<!-- 헤더에서 상단 메뉴 포함 -->
<div th:replace="fragments/header :: header"></div>

<div class="inner">
    <form th:action="@{/masterpage_sys/counsel/api/update}" method="post" enctype="multipart/form-data" id="counselForm">

        <!-- 숨겨진 ID 필드 -->
        <input type="hidden" name="counselIdx" th:value="${counsel.counselIdx()}">

        <div class="form-wrap2 counsel-regist">
            <div class="column-tc-wrap column-tc-wrap2 part4">
                <div class="column-tc">
                    <div class="tit">상담명</div>
                    <div class="con">
                        <input type="text" name="counselName" placeholder="상담명을 입력해주세요" required th:value="${counsel.counselName()}">
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">상담자명</div>
                    <div class="con">
                        <input type="text" name="name" th:value="${counsel.name()}" readonly>
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">상담시간</div>
                    <div class="con">
                        <input type="text" name="talkTime" placeholder="상담시간을 입력해주세요" th:value="${counsel.talkTime()}">
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">희망과정</div>
                    <div class="con">
                        <input type="text" name="degreeHope" placeholder="희망과정을 입력해주세요" th:value="${counsel.degreeHope()}">
                    </div>
                </div>
            </div>

            <div class="column-tc-wrap column-tc-wrap2 part1">
                <div class="column-tc address">
                    <div class="tit">주소</div>
                    <div class="con flex">
                        <a href="#none" class="jv-btn fill01">주소찾기</a>
                        <input type="text" name="addr1" th:value="${counsel.addr1()}" readonly>
                        <input type="text" name="addr2" th:value="${counsel.addr2()}" readonly>
                        <input type="text" name="zipcode" th:value="${counsel.zipcode()}">
                    </div>
                </div>
            </div>

            <div class="column-tc-wrap column-tc-wrap2 part4">
                <div class="column-tc">
                    <div class="tit">휴대폰</div>
                    <div class="con">
                        <input type="text" name="telMobile" placeholder="휴대폰번호를 입력해주세요" th:value="${counsel.telMobile()}">
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">이메일</div>
                    <div class="con">
                        <input type="text" name="email" placeholder="이메일 주소를 입력해주세요" th:value="${counsel.email()}">
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">최종학력</div>
                    <div class="con">
                        <input type="text" name="finalEducationType" placeholder="최종학력을 입력해주세요" th:value="${counsel.finalEducationType()}">
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">비밀번호</div>
                    <div class="con">
                        <input type="password" name="pwd" placeholder="비밀번호를 입력해주세요" th:value="${counsel.pwd()}">
                    </div>
                </div>
            </div>
            <div class="column-tc">
                <div class="tit">상담상태</div>
                <div class="con">
                    <label class="c-input ci-radio">
                        <input type="radio" name="counselState" value="1"> 상담대기
                        <div class="ci-show"></div>
                    </label>
                    <label class="c-input ci-radio">
                        <input type="radio" name="counselState" value="2"> 상담완료
                        <div class="ci-show"></div>
                    </label>
                </div>
            </div>
            <div class="column-tc-wrap column-tc-wrap2 part1">
                <div class="column-tc">
                    <div class="tit">상담신청내용</div>
                    <div class="con">
                        <textarea name="memo" rows="5" th:text="${counsel.memo()}"></textarea>
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">보유자격증</div>
                    <div class="con">
                        <textarea name="license" rows="5" th:text="${counsel.license()}"></textarea>
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">첨부파일</div>
                    <div class="con">
                        <input type="file" name="file">
                    </div>
                </div>
                <div class="column-tc">
                    <div class="tit">답변내용</div>
                    <div class="con">
                        <textarea name="answerMemo" rows="5" th:text="${counsel.answerMemo()}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-wrap mt50">
            <button type="submit" class="jv-btn fill04-lg">수정하기</button>
            <a th:href="@{/masterpage_sys/counsel}" class="jv-btn fill01-lg">목록</a>
        </div>
    </form>
</div>
</body>
</html>
