<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <!-- 헤더에서 CSS 포함 -->
    <th:block th:replace="fragments/header :: head"></th:block>
    <script th:src="@{/js/counsel/listForm.js}"></script>
    <script th:src="@{/js/common/checkbox.js}"></script>
</head>
<body>
<!-- 헤더에서 상단 메뉴 포함 -->
<div th:replace="fragments/header :: header"></div>

<div class="inner">
    <div class="form-wrap">
        <div class="group01">
            <div class="tit">검색</div>
            <div class="con">
                <div class="column-tc-wrap part2">
                    <div class="column-tc">
                        <div class="tit">
                            <select>
                                <option>제목</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="con ml5">
                            <input type="text" placeholder="Text를 입력해주세요">
                        </div>
                    </div>
                    <div class="column-tc">
                        <div class="tit">상담상태</div>
                        <div class="con">
                            <label class="c-input ci-radio">
                                <input type="radio" name="counsel"> 전체
                                <div class="ci-show"></div>
                            </label>
                            <label class="c-input ci-radio">
                                <input type="radio" name="counsel"> 상담대기
                                <div class="ci-show"></div>
                            </label>
                            <label class="c-input ci-radio">
                                <input type="radio" name="counsel"> 상담완료
                                <div class="ci-show"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-wrap">
        <a href="#none" class="jv-btn jb-fill01-lg">검색</a>
    </div>
    <div class="table-util mt30">
        <div class="left">
            <a href="#none" class="jv-btn fill05 delete-counsel-btn">삭제</a>
            <div class="page-view flex">
                <span>페이지수</span>
                <select>
                    <option>선택</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <div class="count">
                <span class="Pretd_B" th:text="${counselPage.totalElements}"></span>건 검색되었습니다.
            </div>
        </div>
        <div class="right">
            <a th:href="@{/masterpage_sys/counsel/saveForm}" class="jv-btn fill04">상담명 등록</a>
        </div>
    </div>

    <table class="table01 T_center">
        <thead>
        <tr>
            <th>
                <label class="c-input ci-check single">
                    <input type="checkbox" class="select-all-checkbox">
                    <div class="ci-show"></div>
                </label>
            </th>
            <th>NO</th>
            <th>제목</th>
            <th>신청일</th>
            <th>상담자명</th>
            <th>상담상태</th>
            <th>최종수정시간</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="counsel : ${counselPage}">
            <!-- 체크박스 -->
            <td>
                <label class="c-input ci-check single">
                    <input type="checkbox" class="select-item-checkbox" th:value="${counsel.counselIdx()}">
                    <div class="ci-show"></div>
                </label>
            </td>

            <!-- 상담 ID -->
            <td th:text="${counsel.counselIdx()}"></td>

            <!-- 상담 내용 -->
            <td th:text="${counsel.memo()}"></td>

            <!-- 상담 일자 -->
            <td th:text="${counsel.talkTime()}"></td>

            <!-- 상담자명 -->
            <td th:text="${counsel.name()}"></td>

            <!-- 상담 상태 -->
            <td>
                <a th:href="@{/masterpage_sys/counsel/detailForm/{counselIdx}(counselIdx=${counsel.counselIdx()})}" class="jv-btn"
                   th:classappend="${counsel.counselState() == 'A' ? 'label07' : 'label01'}"
                   th:text="${counsel.counselState() == 'A' ? '상담완료' : '상담대기'}">
                </a>
            </td>

            <!-- 최종 수정 시간 -->
            <td th:text="${#dates.format(counsel.updateDate(), 'yyyy.MM.dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <!-- Footer 포함 -->
    <div th:replace="fragments/footer :: pagination"></div>
</div>