<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<!-- 헤더에서 CSS 포함 -->
	<th:block th:replace="fragments/header :: head"></th:block>
	<!-- member.css 추가 -->
	<link rel="stylesheet" th:href="@{/css/member/member.css}">

	<!-- 카카오 주소 API 스크립트 추가 -->
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<title>위탁기업 상세보기</title>

</head>
<body>
	<!-- 헤더에서 상단 메뉴 포함 -->
	<th:block th:replace="fragments/header :: header"></th:block>

	<input type="hidden" name="userType" id="userType" value="COMPANY">
	<input type="hidden" name="memberIdx" id="memberIdx" th:value="${member.memberIdx}">

	<div class="inner">
		<form id="companyDetailForm">
			<div class="form-wrap2">
				<div class="form-header">
					<h2 class="form-tit">기본정보 <span class="required-txt">표시 항목은 필수 입력 사항입니다.</span></h2>
					<a href="/masterpage_sys/member/company" class="jv-btn fill01-lg">목록</a>
					<button type="submit" class="jv-btn fill01-lg right" id="btnUpdate1">수정</button>
				</div>
				<div class="column-tc-wrap column-tc-wrap2 part2">
					<div class="column-tc">
						<div class="con flex2">
							<div>
								<div class="tit"><span class="required">ID</span></div>
								<div class="con">
									<input type="text" name="userId" id="userId" th:value="${member.userId}" readonly>
								</div>
							</div>
							<div>
								<div class="tit"><span class="required">비밀번호</span></div>
								<div class="con">
									<input type="password" name="pwd" id="pwd" placeholder="변경시에만 입력해주세요">
								</div>
							</div>
						</div>
					</div>
					<div class="column-tc">
						<div class="con flex2">
							<div>
								<div class="tit">휴면계정</div>
								<div class="con mt10">
									<label class="c-input ci-check">
										<input type="checkbox" name="chkDormant" id="chkDormant" value="N" th:checked="${member.chkDormant == 'N'}"> 적용 시 체크
										<div class="ci-show"></div>
									</label>
								</div>
							</div>
							<div>
								<div class="tit">로그인제한</div>
								<div class="con mt10">
									<label class="c-input ci-check">
										<input type="checkbox" name="memberState" id="memberState" value="N" th:checked="${member.memberState == 'N'}"> 적용 시 체크
										<div class="ci-show"></div>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="column-tc">
						<div class="con">
							<div>
								<div class="tit">기업규모</div>
								<div class="con mt10">
									<label class="c-input ci-radio">
										<input type="radio" name="jobScale" id="jobScale1" value="001" th:checked="${member.jobScale == '001'}"> 우선지원대상
										<div class="ci-show"></div>
									</label>
									<label class="c-input ci-radio">
										<input type="radio" name="jobScale" id="jobScale2" value="002" th:checked="${member.jobScale == '002'}"> 상시근로자 1,000인 미만
										<div class="ci-show"></div>
									</label>
									<label class="c-input ci-radio">
										<input type="radio" name="jobScale" id="jobScale3" value="003" th:checked="${member.jobScale == '003'}"> 상시근로자 1,000인 이상
										<div class="ci-show"></div>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="column-tc">
						<div class="con flex2">
							<div>
								<div class="tit">위탁기업명</div>
								<div class="con">
									<input type="text" name="jobName" id="jobName" th:value="${member.jobName}" placeholder="회사명을 입력해주세요">
								</div>
							</div>
							<div>
								<div class="tit">구분</div>
								<div class="con flex">
									<label class="c-input ci-radio">
										<input type="radio" name="corporationCode" id="corporationCode1" value="001" th:checked="${member.corporationCode == '001'}"> 본사
										<div class="ci-show"></div>
									</label>
									<label class="c-input ci-radio">
										<input type="radio" name="corporationCode" id="corporationCode2" value="002" th:checked="${member.corporationCode == '002'}"> 지사
										<div class="ci-show"></div>
									</label>
									<input type="text" name="masterId" id="masterId" th:value="${member.masterId}" placeholder="본사 ID를 입력해주세요" class="masterId-input">
								</div>
							</div>
						</div>
					</div>
					<div class="column-tc">
						<div class="tit">사업자번호</div>
						<div class="con flex">
							<input type="text" name="jobNumber1" id="jobNumber1" 
								   th:value="${member.jobNumber != null and #strings.length(member.jobNumber) > 2 ? 
									         #strings.arraySplit(member.jobNumber, '-')[0] : ''}">
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="jobNumber2" id="jobNumber2" 
								   th:value="${member.jobNumber != null and #strings.length(member.jobNumber) > 2 ? 
									         #strings.arraySplit(member.jobNumber, '-')[1] : ''}">
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="jobNumber3" id="jobNumber3" 
								   th:value="${member.jobNumber != null and #strings.length(member.jobNumber) > 2 ? 
									         #strings.arraySplit(member.jobNumber, '-')[2] : ''}">
						</div>
					</div>
					<div class="column-tc">
						<div class="tit">고용보험관리번호</div>
						<div class="con flex">
							<input type="text" name="jobInsuranceNumber1" id="jobInsuranceNumber1" 
								   th:value="${member.jobInsuranceNumber != null and #strings.length(member.jobInsuranceNumber) > 0 ? 
									         #strings.arraySplit(member.jobInsuranceNumber, '-')[0] : ''}">
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="jobInsuranceNumber2" id="jobInsuranceNumber2" 
								   th:value="${member.jobInsuranceNumber != null and #strings.length(member.jobInsuranceNumber) > 0 ? 
									         #strings.arraySplit(member.jobInsuranceNumber, '-')[1] : ''}">
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="jobInsuranceNumber3" id="jobInsuranceNumber3" 
								   th:value="${member.jobInsuranceNumber != null and #strings.length(member.jobInsuranceNumber) > 0 ? 
									         #strings.arraySplit(member.jobInsuranceNumber, '-')[2] : ''}">
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="jobInsuranceNumber4" id="jobInsuranceNumber4" 
								   th:value="${member.jobInsuranceNumber != null and #strings.length(member.jobInsuranceNumber) > 0 ? 
									         #strings.arraySplit(member.jobInsuranceNumber, '-')[3] : ''}">
						</div>
					</div>
				</div>
			</div>
			<div class="form-wrap2 tutor-more-info company-more-info">
				<h2 class="form-tit">추가정보</h2>
				<div class="column-tc-wrap column-tc-wrap2 part1">
					<div class="column-tc add">
						<div class="tit">주소</div>
						<div class="con flex-spaceB">
							<a href="#none" class="jv-btn fill01" id="btnZipcode">우편번호찾기</a>
							<input type="text" name="zipcode" id="zipcode" class="zipcode" th:value="${member.zipcode}" readonly>
							<input type="text" name="addr1" id="addr1" th:value="${member.addr1}" readonly>
							<input type="text" name="addr2" id="addr2" th:value="${member.addr2}" placeholder="세부주소를 입력해주세요">
						</div>
					</div>
				</div>
				<div class="column-tc-wrap column-tc-wrap2 part4">
					<div class="column-tc b-num">
						<div class="tit">사업자등록증</div>
						<div class="con flex">
							<div class="file-upload-container">
								<input type="text" id="fnameSaupDisplay" class="text-input" readonly th:value="${member.fnameSaupName != null ? member.fnameSaupName : member.fnameSaup}">
								<input type="hidden" id="fnameSaupUserFile" th:value="${member.fnameSaup}">
								<input type="file" id="fnameSaupFile" class="hidden-file-input" accept="image/*">
								<button type="button" class="jv-btn fill01 btn-upload" data-target="fnameSaup">업로드</button>
								<button type="button" class="jv-btn fill01 btn-view" th:data-filename="${member.fnameSaup}">열람</button>
								<button type="button" class="jv-btn fill01 btn-delete" data-target="fnameSaup">삭제</button>
							</div>
						</div>
					</div>
					<div class="column-tc">
						<div class="tit">대표자</div>
						<div class="con">
							<input type="text" name="jobCeo" id="jobCeo" th:value="${member.jobCeo}" placeholder="대표자 이름을 입력해주세요">
						</div>
					</div>
					<div class="column-tc">
						<div class="tit">로그인ID</div>
						<div class="con">
							<input type="text" name="applyUserId" id="applyUserId" th:value="${member.applyUserId}" placeholder="교육원에서 발급한 ID외에 위탁기업에서 사용 희망하는 ID를 입력해주세요">
						</div>
					</div>
					<div class="column-tc">
						<div class="tit">동시접속허용수</div>
						<div class="con">
							<input type="text" name="loginMemberCount" id="loginMemberCount" th:value="${member.loginMemberCount}" placeholder="ID 기준으로 동시접속 허용 가능 인원을 설정해주세요">
						</div>
					</div>
				</div>
			</div>
			<div class="form-wrap2">
				<h2 class="form-tit">교육담당자 정보 <span class="required-txt">표시 항목은 필수 입력 사항입니다.</span></h2>
				<div class="column-tc-wrap column-tc-wrap2 part2">
					<div class="column-tc">
						<div class="con flex2">
							<div>
								<div class="tit">이름</div>
								<div class="con">
									<input type="text" name="contractorName" id="contractorName" th:value="${member.contractorName}" placeholder="이름을 입력해주세요">
								</div>
							</div>
							<div>
								<div class="tit">직위</div>
								<div class="con">
									<input type="text" name="jobPosition" id="jobPosition" th:value="${member.jobPosition}" placeholder="직위를 입력해주세요">
								</div>
							</div>
						</div>
					</div>
					<div class="column-tc">
						<div class="tit">직통번호</div>
						<div class="con flex">
							<select name="jobTelOffice1" id="jobTelOffice1" 
									th:value="${member.jobTelOffice != null and #strings.length(member.jobTelOffice) > 2 ? 
											  #strings.arraySplit(member.jobTelOffice, '-')[0] : ''}">
								<option>선택</option>
								<option>02</option>
								<option>031</option>
								<option>032</option>
								<option>033</option>
								<option>041</option>
								<option>042</option>
								<option>043</option>
								<option>044</option>
								<option>051</option>
								<option>052</option>
								<option>053</option>
								<option>054</option>
								<option>055</option>
								<option>061</option>
								<option>062</option>
								<option>063</option>
								<option>064</option>
							</select>
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="jobTelOffice2" id="jobTelOffice2" 
								   th:value="${member.jobTelOffice != null and #strings.length(member.jobTelOffice) > 2 ? 
									         #strings.arraySplit(member.jobTelOffice, '-')[1] : ''}">
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="jobTelOffice3" id="jobTelOffice3" 
								   th:value="${member.jobTelOffice != null and #strings.length(member.jobTelOffice) > 2 ? 
									         #strings.arraySplit(member.jobTelOffice, '-')[2] : ''}">
						</div>
					</div>
				</div>
				<div class="column-tc-wrap column-tc-wrap2 part2">
					<div class="column-tc">
						<div class="tit"><span class="required">휴대폰</span></div>
						<div class="con flex">
							<select name="contractorTel1" id="telMobile1" 
									th:value="${member.contractorTel != null and #strings.length(member.contractorTel) > 2 ? 
											  #strings.arraySplit(member.contractorTel, '-')[0] : '010'}">
								<option>010</option>
								<option>011</option>
								<option>016</option>
								<option>017</option>
								<option>019</option>
							</select>
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="contractorTel2" id="telMobile2" maxlength="4" 
								   th:value="${member.contractorTel != null and #strings.length(member.contractorTel) > 2 ? 
									         #strings.arraySplit(member.contractorTel, '-')[1] : ''}">
							<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
							<input type="text" name="contractorTel3" id="telMobile3" maxlength="4" 
								   th:value="${member.contractorTel != null and #strings.length(member.contractorTel) > 2 ? 
									         #strings.arraySplit(member.contractorTel, '-')[2] : ''}">
						</div>
					</div>
					<div class="column-tc">
						<div class="tit"><span class="required">이메일</span></div>
						<div class="con flex">
							<input type="text" name="contractorEtc1" id="email1" 
								   th:value="${member.contractorEtc != null and #strings.length(member.contractorEtc) > 0 ? 
									         #strings.arraySplit(member.contractorEtc, '@')[0] : ''}">
							<span>&nbsp;&nbsp;@&nbsp;&nbsp;</span>
							<input type="text" name="email2" id="email2" 
								   th:value="${member.contractorEtc != null and #strings.length(member.contractorEtc) > 0 ? 
									         #strings.arraySplit(member.contractorEtc, '@')[1] : ''}">
							<select name="contractorEtc2" id="email2Select">
								<option value="">직접입력</option>
								<option value="naver.com">naver.com</option>
								<option value="gmail.com">gmail.com</option>
								<option value="daum.net">daum.net</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="form-wrap2 only-company-setting">
				<h2 class="form-tit">위탁기업 전용 홈페이지 설정</h2>
				<div class="column-tc-wrap column-tc-wrap2 part2">
					<div class="column-tc">
						<div class="tit">사용여부</div>
						<div class="con mt10">
							<label class="c-input ci-radio">
								<input type="radio" name="companyHomepageUse" value="Y" th:checked="${member.companyHomepageUse == 'Y'}"> 사용함
								<div class="ci-show"></div>
							</label>
							<label class="c-input ci-radio">
								<input type="radio" name="companyHomepageUse" value="N" th:checked="${member.companyHomepageUse == 'N'}"> 사용안함
								<div class="ci-show"></div>
							</label>
						</div>
					</div>
					<div class="column-tc url">
						<div class="tit">URL주소</div>
						<div class="con flex">
							<span class="url-prefix">https://교육원도메인/</span>
							<input type="text" name="companyUrl" id="companyUrl" th:value="${member.companyUrl}">
						</div>
					</div>
					<div class="column-tc logo">
						<div class="tit">로고 파일</div>
						<div class="con flex">
							<div class="file-upload-container">
								<input type="text" id="fnameLogoDisplay" class="text-input" readonly th:value="${member.fnameLogoName != null ? member.fnameLogoName : member.fnameLogo}">
								<input type="hidden" id="fnameLogoUserFile" th:value="${member.fnameLogo}">
								<input type="file" id="fnameLogoFile" class="hidden-file-input" accept="image/*">
								<button type="button" class="jv-btn fill01 btn-upload" data-target="fnameLogo">업로드</button>
								<button type="button" class="jv-btn fill01 btn-view" th:data-filename="${member.fnameLogo}">열람</button>
								<button type="button" class="jv-btn fill01 btn-delete" data-target="fnameLogo">삭제</button>
							</div>
							<div class="info">가로 265px X 세로55px</div>
						</div>
					</div>
					<div class="column-tc">
						<div class="con flex2">
							<div>
								<div class="tit">상담번호</div>
								<div class="con">
									<input type="text" name="counselNumber" id="counselNumber" th:value="${member.counselNumber}" placeholder="상담번호를 입력해주세요">
								</div>
							</div>
							<div>
								<div class="tit">상담시간</div>
								<div class="con flex">
									<input type="time" name="counselTime1" id="counselTime1" th:value="${member.counselTime != null ? #strings.arraySplit(member.counselTime, '-')[0] : ''}">
									<span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
									<input type="time" name="counselTime2" id="counselTime2" th:value="${member.counselTime != null ? #strings.arraySplit(member.counselTime, '-')[1] : ''}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column-tc-wrap column-tc-wrap2 part1">
					<div class="column-tc top-image">
						<div class="tit">메인 상단 이미지</div>
						<div class="con flex4 mt10">
							<label class="ci-card">
								<input type="radio" name="mainImg" class="ci-card-input" value="sample01.jpg" th:checked="${member.mainImg != null and member.mainImg == 'sample01.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 1</div>
									<div class="body-con">
										<img src="/img/header/sample01.jpg">
									</div>
								</div>
							</label>
							<label class="ci-card">
								<input type="radio" name="mainImg" class="ci-card-input" value="sample02.jpg" th:checked="${member.mainImg != null and member.mainImg == 'sample02.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 2</div>
									<div class="body-con">
										<img src="/img/header/sample02.jpg">
									</div>
								</div>
							</label>
							<label class="ci-card">
								<input type="radio" name="mainImg" class="ci-card-input" value="sample03.jpg" th:checked="${member.mainImg != null and member.mainImg == 'sample03.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 3</div>
									<div class="body-con">
										<img src="/img/header/sample03.jpg">
									</div>
								</div>
							</label>
							<label class="ci-card">
								<input type="radio" name="mainImg" class="ci-card-input" value="custom" th:checked="${member.mainImg != null and member.mainImg != '' and member.mainImg != 'sample01.jpg' and member.mainImg != 'sample02.jpg' and member.mainImg != 'sample03.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 파일 첨부</div>
									<div class="body-con">
										<div class="file-upload-container">
											<input type="text" id="mainImgDisplay" class="text-input" readonly th:value="${member.mainImgName != null ? member.mainImgName : member.mainImg}">
											<input type="hidden" id="mainImgUserFile" th:value="${member.mainImg}">
											<input type="file" id="mainImgFile" class="hidden-file-input" accept="image/*">
											<button type="button" class="jv-btn fill01 btn-upload" data-target="mainImg">업로드</button>
											<button type="button" class="jv-btn fill01 btn-view" th:data-filename="${member.mainImg}">열람</button>
											<button type="button" class="jv-btn fill01 btn-delete" data-target="mainImg">삭제</button>
										</div>
										<div class="info mt10">가로 1270px X 세로 560px</div>
									</div>
								</div>
							</label>
						</div>
					</div>
					<div class="column-tc top-image">
						<div class="tit">서브 상단 이미지</div>
						<div class="con flex4 mt10">
							<label class="ci-card">
								<input type="radio" name="subImg" class="ci-card-input" value="sample01.jpg" th:checked="${member.subImg != null and member.subImg == 'sample01.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 1</div>
									<div class="body-con">
										<img src="/img/header/sample01.jpg">
									</div>
								</div>
							</label>
							<label class="ci-card">
								<input type="radio" name="subImg" class="ci-card-input" value="sample02.jpg" th:checked="${member.subImg != null and member.subImg == 'sample02.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 2</div>
									<div class="body-con">
										<img src="/img/header/sample02.jpg">
									</div>
								</div>
							</label>
							<label class="ci-card">
								<input type="radio" name="subImg" class="ci-card-input" value="sample03.jpg" th:checked="${member.subImg != null and member.subImg == 'sample03.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 3</div>
									<div class="body-con">
										<img src="/img/header/sample03.jpg">
									</div>
								</div>
							</label>
							<label class="ci-card">
								<input type="radio" name="subImg" class="ci-card-input" value="custom" th:checked="${member.subImg != null and member.subImg != '' and member.subImg != 'sample01.jpg' and member.subImg != 'sample02.jpg' and member.subImg != 'sample03.jpg'}">
								<div class="ci-card-body">
									<div class="body-tit">이미지 파일 첨부</div>
									<div class="body-con">
										<div class="file-upload-container">
											<input type="text" id="subImgDisplay" class="text-input" readonly th:value="${member.subImgName != null ? member.subImgName : member.subImg}">
											<input type="hidden" id="subImgUserFile" th:value="${member.subImg}">
											<input type="file" id="subImgFile" class="hidden-file-input" accept="image/*">
											<button type="button" class="jv-btn fill01 btn-upload" data-target="subImg">업로드</button>
											<button type="button" class="jv-btn fill01 btn-view" th:data-filename="${member.subImg}">열람</button>
											<button type="button" class="jv-btn fill01 btn-delete" data-target="subImg">삭제</button>
										</div>
										<div class="info mt10">가로 1270px X 세로 560px</div>
									</div>
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="btn-wrap mt50">
			<a href="/masterpage_sys/member/company" class="jv-btn fill01-lg">목록</a>
			<button type="submit" class="jv-btn fill01-lg" id="btnUpdate">수정</button>
		</div>

	</div>

	<script th:src="@{/js/member/member.js}"></script>
</body>
</html> 