<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <!-- 헤더에서 CSS 포함 -->
    <th:block th:replace="fragments/header :: head"></th:block>
    <script th:src="@{/js/subject/subject.js}"></script>
</head>
<body>
<!-- 헤더에서 상단 메뉴 포함 -->
<div th:replace="fragments/header :: header"></div>

<div class="inner">
    <!-- column list -->
    <div class="form-wrap column-check">
        <div class="group01">
            <div class="tit">항목추가표시</div>
            <div class="con">
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="check"> 체크
                    <div class="ci-show"></div>
                </label>
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="subject_code"> 과정코드
                    <div class="ci-show"></div>
                </label>
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="course_prices"> 수강료
                    <div class="ci-show"></div>
                </label>
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="teacher_cnt"> 내용전문가
                    <div class="ci-show"></div>
                </label>
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="tutor_cnt"> 교강사(튜터)
                    <div class="ci-show"></div>
                </label>
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="a40"> 차시수
                    <div class="ci-show"></div>
                </label>
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="a41"> 용어사전
                    <div class="ci-show"></div>
                </label>
                <label class="c-input ci-check">
                    <input type="checkbox" class="column_check" value="a42"> 공개여부
                    <div class="ci-show"></div>
                </label>
            </div>
        </div>
    </div>
</form>

    <form name="searchform" id="searchform" method="get" action="/masterpage_pro/subject.registration.php">
        <input type="hidden" name="updatemode" value="search">
        <input type="hidden" name="orderfield" value="subject_idx">
        <input type="hidden" name="orderdesc" value="desc">
        <div class="form-wrap search-more">
            <div class="inner">
                <div class="group01">
                    <div class="tit">검색</div>
                    <!-- <input type=submit value="검색"/> -->
                    <div class="con">
                        <div class="column-tc-wrap">
                            <div class="column-tc">
                                <div class="tit">과정명</div>
                                <div class="con">
                                    <input type="text" name="subject_name" id="subject_name" value="" placeholder="과정명을 입력해주세요">
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">과정코드</div>
                                <div class="con">
                                    <input type="text" name="subject_code" id="subject_code" value="" placeholder="과정코드를 입력해주세요">
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">콘텐츠 유형</div>
                                <div class="con">
                                    <select name="player_type" id="player_type">
                                        <option value="">콘텐츠 유형</option>
                                        <option value="responsivelcms">(반응형)다중MP4</option>
                                        <option value="mp4">(반응형)단일mp4</option>
                                        <option value="jungunivlcms">(반응형)단일MP4영상+HTML</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">분야/분류</div>
                                <div class="con flex2">

                                    <select name="firstChoice" id="firstChoice" onchange="selectChange(this, this.form.secondChoice, arrItems1, arrItemsGrp1);updateSelectValue(this.form.college_idx,this.value);" class="w45p">
                                        <option value="">분야 선택</option>
                                        <option value="1">OA</option>
                                        <option value="2">경비</option>
                                        <option value="4">수한</option>
                                        <option value="3">테스트</option>
                                    </select>


                                    <select name="secondChoice" id="secondChoice" onchange="updateSelectValue(this.form.major_idx,this.value);major_click(this.value);" class="w45p">
                                        <option value="">분류 선택</option>
                                    </select>
                                    <input type="hidden" name="college_idx" value="">
                                    <input type="hidden" name="major_idx" value="">
                                </div>
                            </div>
                        </div>
                        <div class="column-tc-wrap hidden"  id="columnTcWrap" style="display: none;">
                            <div class="column-tc">
                                <div class="tit">심사상태</div>
                                <div class="con">
                                    <select name="evaluation_state" id="evaluation_state">
                                        <option value="">심사상태</option>
                                        <option value="신청">신청</option>
                                        <option value="준비중">준비중</option>
                                        <option value="심사중">심사중</option>
                                        <option value="적합">적합</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">공개여부</div>
                                <div class="con">
                                    <label class="c-input ci-radio">
                                        <input type="radio" name="homepage_yn" value="Y"> 공개
                                        <div class="ci-show"></div>
                                    </label>
                                    <label class="c-input ci-radio">
                                        <input type="radio" name="homepage_yn" id="homepage_yn" value="N"> 비공개
                                        <div class="ci-show"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">e-simsa<br>유효기간</div>
                                <div class="con flex">
                                    <input type="date" name="expiry_start_date" id="expiry_start_date" value="">
                                    <span class="bar">&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                                    <input type="date" name="expiry_end_date" id="expiry_end_date" value="">
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">HRD<br>유효기간</div>
                                <div class="con flex">
                                    <input type="date" name="tracse_start_date" id="tracse_start_date" value="">
                                    <span class="bar">&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                                    <input type="date" name="tracse_end_date" id="tracse_end_date" value="">
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">수강료</div>
                                <div class="con flex">
                                    <input type="input" name="course_prices" id="course_prices" value="" placeholder="교육비 금액을 숫자로 입력해주세요">
                                    <span>&nbsp;&nbsp;원</span>
                                </div>
                            </div>
                            <div class="column-tc">
                                <div class="tit">차시수</div>
                                <div class="con">
                                    <input type="input" name="regist_times" id="regist_times" value="" placeholder="과정에 설정된 차시수를 숫자로 입력해주세요">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-more-btn" id="searchMoreBtn">
                <span>상세검색</span>
                <img th:src="@{/img/header/arrow_fill_down_BK.svg}" alt="화살표">
            </div>
        </div>

        <div class="btn-wrap">
            <a href="javascript:submit();" class="jv-btn jb-fill01-lg">검색</a>
        </div>

        <div class="table-util mt50">
            <div class="left">
                <a href="javascript:" onclick="deleteRows();" class="jv-btn fill05">삭제</a>

                <div class="page-view flex">

                    <span>페이지수</span>
                    <select name="pagesize" onchange="changePagesize(this.form);">
                        <option value="">선택</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                        <option value="80">80</option>
                    </select>
                </div>
                <div class="count">
                    <span class="Pretd_B">15</span>건 검색되었습니다.
                </div>
            </div>
            <div class="right">
                <a href="javascript:" id="saveForm" class="jv-btn fill04">신규등록</a>
                <!-- <input type=button value="신규등록" onclick="location.href='?smode=regist&keyfield=&keyword=&pagesize=15&orderfield=subject_idx&orderdesc=desc&search_major_idx=&refund_type=&gopage=/masterpage_pro/subject.registration.php?';"> -->
            </div>
        </div>

        <table class="table01 T_center">
            <thead>
            <tr>
                <th class="column_list check" style="display: table-cell;">
                    <label class="c-input ci-check single">
                        <input type="checkbox" name="chk" value="" onclick="checkAllInstr(document.searchform,this.checked,'vidx');">
                        <div class="ci-show"></div>
                    </label>
                </th>


                <th>NO</th>
                <th class="column_list subject_code" style="display: none;">과정코드</th>
                <th class="column_list a40" style="display: none;">차시수</th>
                <th class="column_list subject_name">과정명</th>
                <th class="column_list course_prices" style="display: none;">수강료</th>
                <th class="column_list teacher_cnt" style="display: none;">내용전문가</th>
                <th class="column_list tutor_cnt" style="display: none;">교강사(튜터)</th>
                <th class="column_list evaluation_state">심사상태</th>
                <th class="column_list gigan">유효기간</th>
                <th class="column_list a29">콘텐츠 유형</th>
                <th class="column_list a35">평가문제설정</th>
                <th class="column_list a37">차시설정</th>
                <th class="column_list a41" style="display: none;">용어사전</th>
                <th class="column_list a42" style="display: none;">공개여부</th>
                <th class="column_list copy">과정복사</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="column_list check" style="display: table-cell;">
                    <label class="c-input ci-check single">
                    <!-- <input type="checkbox"> -->
                    <input type="checkbox" name="vidx[]" value="31" id="idx_31">
                    <div class="ci-show"></div>
                </label>
                </td>
                <td>15</td>
                <td class="column_list subject_code" style="display: none;">								<!-- <a href="?subject_idx=31&smode=regist&gopage=/masterpage_pro/subject.registration.php?">31</a> -->
                    202305							</td>
                <td class="column_list a40" style="display: none;">001</td>
                <td class="column_list subject_name">
                    <a href="?subject_idx=31&amp;smode=regist&amp;gopage=/masterpage_pro/subject.registration.php?" class="course-tit">테스트과정202305</a>
            </td>
                <td class="column_list course_prices" style="display: none;">100,000원</td>

                <td class="column_list teacher_cnt" style="display: none;">
                    <a href="javascript:" onclick="openSubjectTeacher('31');" class="jv-btn underline01">0명</a>
                </td>
                <td class="column_list tutor_cnt" style="display: none;">
                    <a href="javascript:" onclick="openSubjectTutor('31');" class="jv-btn underline01">0명</a>
            </td>
                <td class="column_list evaluation_state">
                    <span class="jv-btn label01-sm">적합</span>
                </td>
                <td class="column_list gigan">
                    <ul class="period">
                    <li>
                        <span class="tit">e-simsa</span>
                        <span class="con">2023.05.01~2025.04.30</span>
                    </li>
                    <li>
                        <span class="tit">HRD</span>
                        <span class="con">2023.05.01~2025.04.30</span>
                    </li>
                </ul>
                </td>

                <td class="column_list a29">다중MP4</td>
                <td class="column_list a35">								<!-- <a href="#none" class="jv-btn underline01"><span>121문제</span></a> -->
                    <a href="javascript:" onclick="openSubjectProblem('31');" class="jv-btn underline01"> <span>0</span></a>
                </td>
                <td class="column_list a37">								<!-- <a href="#none" class="jv-btn underline01"><span>15차시</span></a> -->
                    <a href="javascript:" onclick="openLcmsNtimes('31');" class="jv-btn underline01">
                        <font>0</font> </a>							</td>
                <td class="column_list a41" style="display: none;">								<a href="javascript:" onclick="openDictionary('31');" class="jv-btn underline01"> 0</a>
                </td>
                <td class="column_list a42" style="display: none;">								<a href="#none" class="jv-btn outline01">Y</a>
                </td>
                <td class="column_list copy">								<a href="javascript:" onclick="location.href='/masterpage_pro/subject.registration.php?copy_subject_idx=31&amp;smode=regist&amp;gopage=/masterpage_pro/subject.registration.php?';" class="jv-btn outline01">과정복사</a>

                </td>
            </tr>

            </tbody>
        </table>
        <div class="pagination" id="pagination"></div>

    </form>
    <!-- column list -->
    <div id="dhtmltooltip"></div>

</div>