<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <!-- 헤더에서 CSS 포함 -->
    <th:block th:replace="fragments/header :: head"></th:block>
</head>
<body>
<!-- 헤더에서 상단 메뉴 포함 -->
<div th:replace="fragments/header :: header"></div>

<div class="inner">
    <div class="form-wrap">
        <div class="column-tc-wrap">
            <div class="column-tc">
                <div class="tit">교육원 이름</div>
                <div class="con">
                    <input type="text" th:value="${agreementList.get(0).trainingCenterName()}" readonly>
                </div>
            </div>
            <div class="column-tc">
                <div class="tit">교육원 URL</div>
                <div class="con">
                    <input type="text" th:value="${agreementList.get(0).trainingCenterUrl()}" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-wrap">
        <a href="#none" class="jv-btn fill04">저장하기</a>
    </div>
    <label class="c-input ci-check mt30">
        <input type="checkbox"> 전체공개설정
        <div class="ci-show"></div>
    </label>
    <div class="form-wrap2 agree-join mt15">
        <div th:each="agreement : ${agreementList}" class="agree-join-sect">
            <div class="table-util">
                <div class="left">
                    <h2 class="form-tit mbt0" th:text="${agreement.agreementTitle()}">약관 제목</h2>
                </div>
                <div class="right">
                    <label class="c-input ci-check">
                        <input type="checkbox" th:checked="${agreement.openYn() == 'Y'}"> 공개설정
                        <div class="ci-show"></div>
                    </label>
                    <a th:href="@{/masterpage_sys/agreement/join/detailForm/{agreementIdx}(agreementIdx=${agreement.agreementIdx()})}" class="jv-btn fill04 ml10">텍스트 수정</a>
                </div>
            </div>
            <div class="b01" th:text="${agreement.agreementContents()}">
                약관 내용
            </div>
        </div>
    </div>


</div>